.navbar { 
    overflow: hidden; 
    background-color: slategray;
}
.navbar a { 
    float: right; 
    display: block;
    color: salmon;
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none;
}

.navbar a:hover {
    background-color: aliceblue;
    color: black;
}